.DS_Store
*.aux
*.fdb_latexmk
*.fls
*.lof
*.lot
*.log
*.log
*.out
*.synctex.gz
*.toc
.Rproj.user
/.Rhistory
/old_Corty_dissertation.tex
/old_supporting_files
/outline.docx
*.bbl
*.blg
/keele_diss_final.pdf
/Oreper_diss.pdf
/Maurizio_diss.pdf
/Corty_dissertation.sublime-workspace
